{% extends "base_DF.html" %}
{% load static %}
{% block descricao %}Digressões Filosóficas - A Evolução como uma Patologia{% endblock %}
{% block titulo %}Evolução como uma Patologia{% endblock %}
{%block imagem_background %}{% static 'img/mashroom-menor.jpg' %}{% endblock %}
{% block titulo_h1 %}A EVOLUÇÃO COMO UMA PATOLOGIA{% endblock %}
{% block paragrafos %}
    <p>A priori, fundamento nesta análise as atribuições etimológicas de Pathos - como sentimento e afeto - e Lógos - como lógica, razão - ao constituínte de patologia, portanto, a lógica por trás dos afetos. Não abordando, por hora, o espectro semântico usual.</p>
    <p>Por uma ótica spinozista, a patologia seria então a formalização de um padrão para as atribuições de significado dos corpos aos afetos. Afetos, por sua vez, seriam o resultado qualitativo dado aos encontros entre corpos distintos. Estes encontros resultariam, então, em uma diminuição ou aumento da potência - de afetar e ser afetado - de cada um dos corpos (afecção). Um encontro que garantisse uma maior potência de afetar e ser afetado por outros corpos seria denominado como um afeto positivo. Por sua vez, um encontro que diminuísse as possibilidades de interagir com outros corpos teria a atribuição como um afeto negativo.</p>
    <p>Sob este arcabolço, a evolução, em seu sentido biológico, seria o efeito probabilístico do domínio de algorítimos bioquímicos (assim denomino os mecanismos de tomada de decisão fundamentados pela exclamação dos sentidos em organismos a posteriori de uma análise de dados ambientais - a interação entre os corpos -) que melhor perpetuassem o conatus - ímpeto de continuidade - em determinadas circunstâncias e ambiente. Os algoritimos bioquímicos, desta forma, baseariam-se nos significados designados aos afetos como métrica para a constituição de suas atuações com o meio exterior. Portanto, é de responsabilidade do ímpeto evolutivo a determinação de afetos positivos àqueles que fortalecem o conatus, e negativos àqueles que fogem da norma supracitada.</p>
    <p>Concluí-se, desta forma, que a evolução seria simplesmente uma patologia de perpetuação do conatus.</p>
{% endblock %}
{% block referencias %}
Referências: 3° parte da Ética, de Spinoza, em que são abordados os afetos; Homo Deus, de Yuval Noah Harari, em que é feito um escrutínio a respeito da noção de algoritmos bioquímicos.
{% endblock %}
{% block data_publicacao %}
16/03/2022
{% endblock %}